/* Estilo para o formulário */
form {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Estilo para a lista de agendamentos */
ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.delete:hover {
    background-color: darkred;
}

.edit {
    color: #007BFF;
    text-decoration: none;
    margin-left: 10px;
}

.edit:hover {
    text-decoration: underline;
}

/* Estilo do botão de voltar */
.back-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.back-button:hover {
    background-color: #0056b3;
}

/* Estilo da mensagem de sucesso */
#success-message {
    font-size: 16px;
    font-weight: bold;
    color: green;
}

/* Estilo do botão de voltar */
.back-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;  /* Espaço entre os botões */
}

.back-button:hover {
    background-color: #0056b3;
}

/* Estilo da mensagem de sucesso */
#success-message {
    font-size: 16px;
    font-weight: bold;
    color: green;
}
